<p id="notice"><%= notice %></p>

<h2>Posted by <%= link_to @tweet.zombie.name, @tweet.zombie %></h2>


<p>
  <strong>Text:</strong>
  <%= @tweet.text %>
</p>

<p>
  <strong>T date:</strong>
  <%= @tweet.t_date %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
